.item {
    margin:20px;
    width: 400px;
}

.label {
    font-size: 20px;
    margin-top: 12px;
    font-weight: bold;
}

.image {
    width: 400px;
    height: 300px;
}

@media (max-width: 480px) {
    .image {
        width: 350px;
        height: 250px;
    }
}