.btn {
    font-size: 12px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
    .btn {
        top: 55%;
    }
}

@media (min-width: 800px) {
  .btn {
    top: 30%;
  }
 }
