.main {
  display: flex;
  flex-direction: column;
  background: gray;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  flex-wrap: wrap;
}

.header {
  background-image: url("./resources/hero-desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 880px;
  height: 500px;
}

.headerText{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
}

.paragraph {
  font-size: 14px;
  max-width: 500px;
}

@media (max-width: 480px) {
  .main {
    /*align-items: flex-start;*/
    /*width: 390px;*/
  }
  .header {
    background-image: url("./resources/hero-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 390px;
  }
  .content {
    width: 390px;
  }
  .headerText {
    top: 45%;
    left: 57%;
    width: 80%;
  }
}
